#welcome-msg {
	background-color: #eee;
	border-radius: 9px;
	color: #111;
	display: none;
	left: 20px;
	padding: 10px;
	position: absolute;
	top: 20px;
	width: 450px;
}

#welcome-msg a {
	text-decoration: underline;
}

#welcome-first {
	font-size: 110%;
	font-weight: bold;
}

#welcome-light {
	color: gray;
	font-size: 80%;
}
