.iframe {
	/* these are default widths and heights for new iframe objects */
	height: 300px;
	width: 400px;
}

.glue-iframe-shield {
	/* this is the dummy object we place over the iframe for editing */
	background-color: darkgrey;
	opacity: 0.5;
}
