.iframe {
	/* these are default widths and heights for new iframe objects */
	height: 300px;
	width: 400px;
}

.glue-iframe-shield {
	/* this is the dummy object we place over the iframe for editing */
	background-color: darkgrey;
	opacity: 0.5;
}

#glue-contextmenu-iframe-scroll {
	/* overwrite the default greenish hue for .glue-menu-enabled */
	background-color: transparent;
}

#glue-contextmenu-iframe-scroll.glue-menu-disabled {
	background-image: url(iframe-scroll-off.png);
}

#glue-contextmenu-iframe-scroll.glue-menu-enabled {
	background-image: url(iframe-scroll-on.png);
}
