.download {
	background-image:url('download-file.png');
	background-size: 100%;
	height: 48px;
	max-height: 48px;
	max-width: 48px;
	width: 48px;
}

.download-ext {
	bottom: 5px;
	font-size: 8px;
	max-height: 38px;
	max-width: 26px;
	overflow: hidden;
	position: absolute;
	right: 12px;
	text-align: right;
	/* TODO (later): this does not work in viewing mode on Chrome */
	text-decoration: none;
	width: 26px;
	word-break: break-all;
}

#glue-contextmenu-download-public {
	background-color: transparent;
}

#glue-contextmenu-download-public.glue-menu-disabled {
	background-image: url(download-public-off.png);
}

#glue-contextmenu-download-public.glue-menu-enabled {
	background-image: url(download-public-on.png);
}