.anchor {
	background-image: url(anchor-object.png);
	height: 32px;
	overflow: visible;
	width: 32px;
	z-index: 200;
}

.glue-anchor-name {
	font-size: 10px;
	height: 100%;
	overflow: visible;
	left: 34px;
	position: absolute;
	top: 8px;
	width: 100%;
}
